<div class="weather-wrapper">
  <h2>Weather for {{ items.name }}</h2>
  <div>{{ items.name }} ({{ items.country }} {{ items.flag|raw }})</div>
  <div>{{ items.main }} ({{ items.description }})</div>
  <div>{{ items.icon|raw }}</div>
  <div>{{ items.temp }}ºC</div>
  <div>{{ items.feels_like }}ºC</div>
  <div>{{ items.humidity }}%</div>
  <div>{{ items.pressure }}hPa</div>
</div>
